<div class="container">
    <h1>Edit</h1>
    <form action="/board/update/<%= @edit_post.id %>" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= @edit_post.title %>" placeholder="Title here">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Author</label>
        <input type="text" name="editor" class="form-control" id="exampleInputPassword1" value=" <%= @edit_post.editor %>" placeholder="editor" value="your name">
      </div>
      <div class="form-group">
          <label for="comment">Content</label>
          <textarea class="form-control" name="content" rows="8" id="comment"><%= @edit_post.content %></textarea>
        </div>
      <button type="submit" class="btn btn-dark">Edit</button>
    </form>
</div>